html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    background: #f6f9fc;
    display: grid;
    grid-template-areas:
        'nav nav nav'
        'header header header'
        'skills skills skills'
        'projects projects projects'
        'contact contact contact'
        'footer footer footer'
    ;
    box-sizing: border-box;
}

button,
input,
textarea {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#navigation {
    display: flex;
    justify-content: end;
    grid-area: nav;
    position: sticky;
    overflow: hidden;
    z-index: 1;
    /* top: 0; */
    background-color: #0b525b;
    opacity: 90%;
}

#nav-links {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    cursor: pointer;
}

.nav-link {
    margin-right: 90px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #f6f9fc;
    opacity: 95%;
    text-decoration: none;
}

.nav-link:hover {
    /* color: #2C97B5; */
    transform: scale(1.1);

}

#nav-links-mobile a {
    color: black;
}

#about {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#intro {
    /* display: grid; */
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 2rem 7rem;
    text-align: justify;
    color: #333333;
    font-size: 1.3rem;
}


#illus img {
    width: 33rem;

}


#tag-line {
    font-size: clamp(17px, 2.4vw, 60px);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    grid-column: 1/2;
    opacity: 80%;
    grid-column: 1/3;
    font-weight: 500;
    line-height: 3rem;
    /* white-space: nowrap; */

}

#about h1 {
    font-size: clamp(40px, 6vw, 300px);
    grid-column: 1/5;

}

#links {
    grid-column: 1/5;
    grid-row: 2/3;

}

#links svg {
    color: #0b525b;
    width: 50px;
    height: 50px;
    opacity: 90%;
    margin-right: 15px;
    transition: 0.5s;
    animation: updown 5s ease infinite
}

#links svg:hover {

    transition: 0.5s;
    opacity: 100%;
    transform: scale(1.5);
    transition: 0.5s;
    animation: 0;

}

#workbtn {
    grid-column: 1/5;
    grid-row: 3/4;

}

#workbtn button {
    width: 9rem;
    color: white;
    background-color: #0b525b;
    border: none;
    border-radius: 15px;
    padding: 7px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: 0.5s;
    margin-right: 15px;
}

#workbtn button:hover {
    background-color: #f6f9fc;
    color: #0b525b;
    transition: 0.5s;
    transform: scale(1.2);
}

#skills {
    width: 100%;
    /* max-width: 1080px; */
    display: grid;
    place-items: center;
    grid-area: skills;
    min-height: 100vh;
    font-size: 5rem;
    box-sizing: border-box;
    color: #333333;
}

#skills_group {
    width: 100%;
    padding: 5rem 5rem;
    border-radius: 15px;
    background-color: #333333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 9rem;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    /* animation: updown 7s ease infinite */
}

#skills p {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #f6f9fc;
}

#skills svg {
    width: 100px;
    height: 100px;
}


#projects {
    grid-area: projects;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size: 5rem;
}

#contact {
    grid-area: contact;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #f6f9fc;
    background-color: #333333;
    padding: 3rem;
}

#contact-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 2rem;
    /* background: rgba(0, 0, 0, 0.2); */
    max-width: 500px;
    width: 100%;
}

.contact-info {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem;
    border-radius: 1.3rem;

}

.contact-info span {
    margin-right: 10px;
}

.line {
    border: 2px solid #f6f9fc;
    min-height: 30vh;
    margin-right: 2rem;
    /* display: none; */
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;

}

#contact-form h3 {
    font-size: 2.25rem;
    padding: 2rem;
    text-align: center;


}

#contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#contact-details input {
    display: block;
    flex: 1;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    color: #f6f9fc;
    font-size: 1.15rem;
    border-radius: 1.3rem;

}

#contact-details textarea {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    color: #f6f9fc;
    flex: 1;
}

.submit {
    cursor: pointer;
}

.highlight {
    color: #0b525b;


}


@keyframes updown {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}

.hidden {
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.modal {

    display: none;
    position: fixed;
    z-index: 1;
    /* left:0; */
    top: 25%;
    right: 35%;
    max-width: 600px;
    overflow: auto;
    color: #f6f9fc;
    background-color: #0b525b;
    border-radius: 15px;
    text-align: center;
    opacity: 90%;
    padding: 2rem;
    font-size: 1.25rem;
}

.close-conatiner {
    display: flex;
    justify-content: end;
}

.close {
    display: inline-flex;
    margin: 5px 0 5px 0;
    font-size: 2rem;
    /* margin-bottom:20px; */
    cursor: pointer;

}

.showM {
    display: block;
    transition: all 2s;
}

@media(max-width:1336px) {
    #illus {
        display: none;
    }

    #intro {
        grid-column: 1/3;
        margin: 0 2rem;
        /* text-align: center; */
    }
}

@media(max-width:800px) {
    #skills_group {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact {
        flex-direction: column;
    }

    .line {
        display: none;
    }
}