:root {
    --primary-color: #01161E;
    --secondary-color: #0E3444;
    --highlight-color: #25C0F8;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #333;
}

ul {
    text-decoration: none;

}

a {
    text-decoration: none;
    color: #333;

}

img,
svg {
    width: 100%;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px
}

.navbar ul {
    display: flex;
}

.navbar .flex {
    justify-content: space-between;
    padding: 1.5rem 0;
}

.navbar a {
    color: #fff;
    margin: 0 15px;
    padding-bottom: 7px;
    font-size: 1.1rem;
}

.navbar a:hover {
    border-bottom: 2px solid var(--highlight-color);
}



.navbar h1 {
    margin: 2px 2px;
}

nav {}

/* Hero */
.hero {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.hero .grid {
    grid-template-columns: 55% 45%;
    overflow: visible;
}

.hero-text {
    height: auto;
    padding: 1rem;

}

.hero-text h1 {
    font-size: 2rem;
    padding: 0.5rem 0;

}

.hero a {
    color: #fff;
    height: auto;
    margin: 0 5px;

}

.hero i:hover {
    color: var(--highlight-color);
    transform: scale(1.2)
}

.social {
    margin-top: 8px;
}


.portrait {
    position: absolute;
    top: 30%;
    left: 60%;
    animation: updown 5s ease infinite;
    z-index: 100;
}

.hero::before,
.hero::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.lang_tools {
    padding-top: 100px;
    height: 100vh;
}

.lang_tools .flex {
    flex-direction: column;

}

.languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    padding: 2rem 0;
}

.languages img {
    width: 200px;
}

.language {
    padding: 1rem;
    text-align: center;
    transition: all 0.2s ease-in;
}

.language:hover {
    transform: translateY(-15px);
}

.projects {
    background-color: var(--primary-color);
    color: #fff;
    height: 80vh;
    margin-top: 50px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8)
}